body {
	color: white;
	background-color: #224;
	font-family: monospace;
}
.text {
	width: 100%;
	border: 1px solid gray;
	overflow-y: scroll;
	font-size: 100%;
	background-color: black;
}
#in {
	height: 380px;
	color: #DDF;
}
#out {
	height: 180px; 
	/*color: #7D7;*/
	color: #3AF;
}
.btn {
	border: 2px solid white;
	background-color: black;
	color: white;
	font-family: monospace;
	font-size: 105%;
}
.btn:hover {
	background-color: #3AF;
	color: black;
	font-weight: bold;
}
.upload {
}